<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Mad Lib #1</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <p>It was {{food01.food}} day at school, and {{name.name}} was super {{adjective.adjective}} for lunch. 
        But when she went outside to eat, a {{noun01.noun}} stole her {{food02.food}}! {{name.name}} chased the {{noun02.noun}} all over school. 
        She {{verb01.verb}}, {{verb02.verb}}, and {{verb03.verb}} through the playground. Then she tripped on her {{noun03.noun}} and the {{noun04.noun}} escaped! 
        Luckily, {{name.name}}’s friends were willing to share their {{food03.food}} with her.</p>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>