<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Mad Lib #1</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <p>It was a {{adjective01.adjective}}, cold November day. I woke up to the {{adjective02.adjective}} smell of {{animal.animal}} 
        roasting in the {{room.roomInHouse}} downstairs.  I {{verb01verbPast}} down the stairs to see if I could help {{verb02.verb}} the dinner.  
        My Mom said, "See if {{name.name}} needs a fresh {{noun01.noun}}."  So I carried a tray of glasses full of {{liquid.liquid}} into the {{verb03.verbING}} room.  
        When I got there, I couldn't believe my {{body.bodyPart}}!  There were {{noun02.nounPlural}} {{verb04.verbING}} on the {{noun03.noun}}!</p>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>